! 
! ~/.Xresources
!

! Description
! ===========
!
! This file is part of my dotfiles and is meant to work with the rest of
! my custom desktop session.  The font-related settings reflect my
! fontconfig rules.  Xterm is configured to work like GNOME terminal.
!
! My dotfiles: https://gitlab.com/protesilaos/dotfiles

! Font settings (for programs that do not support fontconfig)
! ===========================================================
Xft*antialias: 1
Xft*rgba: rgb
Xft*autohint: 0
Xft*hinting: 1
Xft*hintstyle: hintfull
Xft*lcdfilter: lcddefault

! xterm
! =====

! Basic settings
XTerm*termName: xterm-256color
XTerm*utf8: 1
xterm*dynamicColors: true

! Visual
XTerm*cursorBlink: false
XTerm*visualbell: true
XTerm*bellIsUrgent: true
XTerm*geometry: 80x24
XTerm*internalBorder: 2
XTerm*toolBar: false
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*multiClickTime: 250 

! Text highlighting
XTerm*highlightColor: XtDefaultForeground
XTerm*highlightColorMode: default
XTerm*highlightReverse: true
XTerm*highlightTextColor: XtDefaultBackground
XTerm*highlightSelection: true

! Use fontconfig alias for desired typeface (based on my relevant rules/preferences)
XTerm*faceName: xft:monospace:size=10
XTerm*boldFont: xft:monospace:style=bold:size=10
XTerm*faceSize1: 8
XTerm*faceSize2: 12
XTerm*faceSize3: 14
XTerm*faceSize4: 16
XTerm*faceSize5: 18
XTerm*faceSize6: 20

XTerm*saveLines: 9999
XTerm*scrollTtyKeypress: true
XTerm*scrollTtyOutput: false
XTerm*jumpScroll: true
XTerm*multiScroll: true

! Backspace behaviour
XTerm*metaSendsEscape: true
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?

! Key bindings.  Use C-S-{c,v} to copy/paste as in GNOME terminal.  The
! keys "Prior" and "Next" represent PgUp and PgDown respectively.
XTerm*selectToClipboard: true
XTerm*translations: #override \n\
	Ctrl Shift <KeyPress>C: select-end(SELECT, CLIPBOARD) \n\
	Ctrl Shift <KeyPress>V: insert-selection(SELECT, CLIPBOARD) \n\
	Ctrl Shift <KeyPress>Prior: larger-vt-font() \n\
	Ctrl Shift <KeyPress>Next: smaller-vt-font()

! DO NOT EDIT THIS.  IT IS CONTROLLED PROGRAMMATICALLY.
! Use my active Tempus theme.
#include ".local/share/my_colours/active-tempus-theme.Xcolors"
