**/#*#
**/*.git
**/*.swp
**/bin/emacs
**/bin/emacsclient
**/bin/lemonbar
**/.config/gtk-3.0/bookmarks
**/.config/mpd/database
**/.config/mpd/log
**/.config/mpd/pid
**/.config/mpd/playlists/**
**/.config/mpd/state
**/.config/mpd/sticker.sql
**/.config/ncmpcpp/error.log
**/.config/ncmpcpp/lyrics
**/.config/newsboat/cache.db
**/.config/newsboat/cache.db.lock
**/.config/newsboat/history.cmdline
**/.config/newsboat/history.search
**/.config/newsboat/urls
**/.vim/.netrwhist
**/.vim/swap
**/.wallpaper.jpg
*.directory
*.log
*.sql
*.sqlite
*.uuid
user-emacs.*
basic-init.el
