#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=GNU Emacs
GenericName=Emacs
Comment="Text editor (ha!)"
Exec=/home/prot/bin/emacs
Icon=emacs
Terminal=false
Name[en_GB]=Emacs
