[user]
	name = Protesilaos Stavrou
	email = info@protesilaos.com
	signingkey = 99BD6459CD5CA3EA
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[merge]
	conflictStyle = diff3
[pull]
	rebase = false
[format]
  thread = true
